.img-up {
  position: relative;
  background-size: cover;
  height: 600px;
}

.gallery {
  margin: 0 0.65rem;
}

.gallery-item {
  height: auto;
  margin: 0.5rem;
  border-radius: 50%;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 640px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (300px)[5];
        grid-template-rows: repeat(5, 300px);
    grid-auto-flow: row dense;
  }
  .gallery-item {
    margin: 0.7rem;
  }
  .gallery-item:first-child {
    grid-row: span 1;
  }
  .gallery-item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-row: span 2;
  }
  .gallery-item:nth-child(6),
  .gallery-item:nth-child(8) {
    grid-row: span 2;
  }
}

@media (min-width: 960px) {
  .gallery {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (auto-flow)[3];
        grid-template-rows: repeat(3, auto-flow);
  }
  .gallery-item:first-child,
  .gallery-item:nth-child(7),
  .gallery-item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.inscripcion--abierta {
  background-color: green;
  margin-top: 145px;
  font-size: 16px;
  color: white;
}

.inscripcion--cerrada {
  background-color: #ce1111;
  margin-top: 145px;
  font-size: 16px;
  color: white;
}

.text-cabezera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.text-cabezera--dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.text-cabezera--dos span {
  text-decoration: none;
  margin: 0 10px;
}

.text-cabezera--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.text-cabezera--banner span {
  text-decoration: none;
  margin: 0 10px;
}

.text-cabezera span {
  text-decoration: none;
  margin: 0 10px;
}

.text-cabezera span:hover {
  color: #ce1111;
}

.text-cabezera--dos span:hover {
  color: #ce1111;
}

.before-footer {
  width: 90%;
  height: 20vh;
  margin-top: 40px;
  background-color: #dddbd7;
}

@media screen and (max-width: 426px) {
  .carousel-inner {
    height: 300px;
  }
  .text-cabezera {
    width: 424px;
    font-size: 16px;
    margin-right: auto;
    display: inline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
  .text-cabezera span {
    margin-right: 0;
    margin-left: 0;
  }
  .text-cabezera--dos {
    width: 420px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 0;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .text-cabezera--dos span {
    margin: 0 0;
  }
  .text-cabezera--banner {
    width: 424px;
    font-size: 16px;
    margin-right: 0px;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    padding-right: 0;
  }
  .containerHome {
    padding: 0;
  }
  .containerHome .bg15 {
    display: none;
  }
  .centrar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  iframe {
    width: 360px;
    height: 250px;
  }
  .texto-under {
    width: 96%;
    font-size: 16px;
    margin-bottom: 0;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .texto-final {
    font-size: 28px;
    margin-left: 15px;
  }
  .before-footer {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  .carousel {
    width: 425px;
  }
  .carousel-item img {
    width: 100%;
    height: 200px !important;
    margin-bottom: 0;
  }
  .carousel-indicators {
    display: none;
  }
  .tituloPrincipal {
    margin: 0;
    margin-top: -90px;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
  .nViajes {
    display: none;
  }
  .titulo-banner-uno {
    font-size: 30px;
  }
  .banner--rojo {
    height: 25vh;
    margin: 0 0 30px 0;
  }
  .col-7 {
    width: 100%;
  }
  .col-4 {
    display: none;
  }
  .img-up {
    height: 300px;
  }
  h5 {
    padding-top: 30px;
  }
  .primerParrafo {
    padding-top: 30px;
  }
  .btn-galeria a {
    font-size: 23px;
  }
}
/*# sourceMappingURL=estilo.css.map */